<div class="py-2">
        <div class="col-md-12">
            <check if="{{ @message }}">
                <div class="row">
                    <pre class="alert alert-success col-md-12" role="alert">{{ @message }}</pre>
                </div>
            </check>
            <form action="{{@BASE}}/documents/store" method="POST" enctype="multipart/form-data" class="bg-light p-3">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" value="{{ $_POST['name'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" value="{{ $_POST['description'] }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nem_id" class="col-sm-2 col-form-label">File upload</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control-file" name="fileupload">
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Save" />
            </form>
        </div>
    </div>
    